.EP {
  border: 5px solid brown;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.EP > div {
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 250px;
}
